<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn VueJS</title>
</head>
<body>
    <div id="app">
       <div>
            <input type="text" v-model="vechile">
            <button @click="addVechile">Add</button>
            <ol>
                <li v-for="(vechile, key) in vechiles">
                    <button @click="removeVechile(key)">x</button>
                    {{ vechile }}
                </li>
            </ol>
       </div>
       <div>
            <ol>
                <li v-for="vechile in completedVechiles">
                    Type: {{ vechile.type }},
                    Brand: {{ vechile.brand }},
                    Color: {{ vechile.color }}
                </li>
            </ol> 
       </div>
       <div>
            <h2>All Items</h2>
            <ul>
                <li v-for="item in items">{{ item.type }}</li>
            </ul>
            <h2>All Items Exists</h2>
            <ul>
                <li v-for="item in itemsExists">{{ item.type }}</li>
            </ul>
            <h2>All Items Not Exists</h2>
            <ul>
                <li v-for="item in itemsNotExists">{{ item.type }}</li>
            </ul>
        </div>
        <div>
            <ol>
                <b v-for="i in 10">
                    <span v-if="i != 2">
                        {{ `${i} ` }}
                    </span>
                </b>
            </ol>
        </div>
        <div>
            <input type="text" v-model="search">
            <ol>
                <li v-for="vechile in searchCompletedVechiles">
                    Type: {{ vechile.type }},
                    Brand: {{ vechile.brand }},
                    Color: {{ vechile.color }}
                </li>
            </ol>
       </div>
    </div>
    <script src="vendor/vuejs/vue.global.js.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>